@model Bangazon.Models.OrderViewModels.OrderDetailViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Viewing your Cart</h2>

@* 
    *Author: Madi Peper*
    For each item in the LineItems list in the OrderDetailViewModel
    Make a link with the Product Name
    Add a <dd> tag for the Units and Cost

    <dd/> vs <dt/>
    A <dt> tag DEFINES an item
    A <dd> tag DESCRIBES an item
*@
<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var item in Model.LineItems)
        {
            
        <a asp-controller="Products" asp-action="Details" asp-route-id="@item.Product.ProductId">
            @item.Product.Title
        </a>
        <dd>
            @item.Units
        </dd>
        <dd>
            @item.Cost
        </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Order.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
